section{
    width: 100vw;
    height: 100vh;
}

.table .row {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    
}

.table .th {
    margin-bottom: 12px
}
.table .row:nth-child(2n) {
    background: #ededef;
}
.table .row:nth-child(2n+3) {
    background: #c0c4cb;
}
.table .row:nth-child(2){
    background:#333334;
    color: snow;
}


